body {
  background-color: #1a222d;
  user-select: none;
}
.search {
  display: flex;
  margin: 0 auto;
  padding: 5px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}
.search-bar {
  color: black;
  font-weight: 600;
  background-color: rgb(223, 223, 223);
  padding: 6px;
  width: 250px;
}
.search-button {
  display: flex;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}
.container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 25px;
}
.list {
  text-align: center;
}
.links {
  list-style: none;
  line-height: 24px;
}
.title {
  font-size: 20px;
  padding-bottom: 5px;
}
.cat-gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 10%;
}
.home {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  position: absolute;
  bottom: 2%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
